---
layout: page
title: Calendar
permalink: /events/calendar/
calendar: true
---

<div id='loading' class="text-center"><i class="fa fa-spinner fa-2x fa-spin"></i></div>
<div id='calendar'></div>
<script text/javascript>
  month();
</script>

<br />
<div id="calLegend">
  <h4>Legend</h4>
  <div class="legendBox auxCommLegend">Aux Comm</div>
  <div class="legendBox dsarcLegend">DSARC</div>
  <div class="legendBox w7uqLegend">W7UQ</div>
  <div class="legendBox pharcLegend">PHARC</div>
</div>
<br />
<a href="https://calendar.google.com/calendar/ical/pkr1feh376liutlgs84gd0bjmo%40group.calendar.google.com/public/basic.ics" target="_blank" title="DSARC ICAL"><i class="fa fa-calendar" aria-hidden="true"></i> DSARC ICAL</a>