---
layout: page
title: Sponsors
permalink: /sponsors/
col-size: 4
---

<div class="row">
  <!-- M -->
  <div class="col-md-{{page.col-size}}">
    <div class="thumbnail text-center">
      <h3>Microsoft</h3>
      <br>
      <a href="https://microsoft.com" target="_blank" rel="nofollow">
        <img class="img-responsive img-thumbnail"
          src="https://c.s-microsoft.com/en-us/CMSImages/Microsoft-logo_rgb_gray.jpg?version=1BC84E2E-14C4-6323-7909-D43A63EDAA93" />
      </a>
      <br>
      <a class="btn btn-default center-block" href="https://microsoft.com" target="_blank" rel="nofollow">Visit</a>
    </div>
  </div>
  <!-- N -->
  <div class="col-md-{{page.col-size}}">
    <div class="thumbnail text-center">
      <h3>Northwest Radio Supply</h3>
      <br>
      <a class="btn btn-default center-block" href="https://nwradiosupply.com" target="_blank" rel="nofollow">Visit</a>
    </div>
  </div>
  <!-- Z -->
  <div class="col-md-{{page.col-size}}">
    <div class="thumbnail text-center">
      <h3>Zapier</h3>
      <br>
      <a href="https://zapier.com" target="_blank" rel="nofollow">
        <img class="img-responsive img-thumbnail" src="../assets/img/zapier.png" />
      </a>
      <br>
      <a class="btn btn-default center-block" href="https://zapier.com" target="_blank" rel="nofollow">Visit</a>
    </div>
  </div>
</div>