---
layout: home
calendar: true
headless: true
---

<div class="row">

  <!-- Right Column -->
  <div class="col-md-4 col-md-push-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Local Weather</h3>
      </div>
      <div class="list-group">
        <div class="alert alert-danger text-center hidden" id="weatherAlertBox">
          <h4 class="text-center">Current Weather Alert</h4>
          <br />
          <div id="weatherAlert"></div>
        </div>
        <div class="list-group-item">
          <div class="row" id="dsWeatherBox"></div>
        </div>
        <noscript>Javascript must be enabled to view.</noscript>
      </div>
    </div>
    {% include mailingList.html %}
    {% include upcomingEvents.html %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Testing Sessions</h3>
        </h3>
      </div>
      <div class="list-group" id="testing">
        <noscript>Javascript must be enabled to view.</noscript>
      </div>
      <div class="panel-footer text-center">
        <a href="https://hamstudy.org/sessions/NIVET/" target="_blank" rel="noopener"
          class="btn btn-default btn-sm">Sign Up Here</a>
        <a href="https://airtable.com/shrHYH0JZuzLhpRXJ" target="_blank" rel="noopener"
          class="btn btn-default btn-sm">Request Here</a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Upcoming Classes</h3>
        </h3>
      </div>
      <div class="list-group" id="classes">
        <noscript>Javascript must be enabled to view.</noscript>
      </div>
      <div class="panel-footer text-center">
        <a href="/classes/tech-class" rel="noopener" class="btn btn-default btn-sm">Sign Up Here</a>
        <a href="https://airtable.com/shr3mHh1mZNk5md4b" target="_blank" rel="noopener"
          class="btn btn-default btn-sm">Request Here</a>
      </div>
    </div>
  </div>

  <!-- Left Column -->
  <div class="col-md-8 col-md-pull-4">
    <div class="well text-center">
      <h2>We are still holding meetings!</h2><br>
      <p>
        DSARC is meeting online every 1st and 3rd Tuesday. Please see our <a
          href="https://dsarc.us/meetings/">Meetings</a> page for more details.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <!-- Events -->
        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <h3 class="panel-title">Events</h3>
          </div>
          <div class="list-group  pre-scrollable">
            {% assign hasUpcomingEvents = false %}

            {% for event in site.events reversed %}
              {% if event.past != true and event.eventType == "event" %}
                {% assign hasUpcomingEvents = true %}
                <a href="{{event.url}}" class="list-group-item">{{event.title}}</a>
              {% endif %}
            {% endfor %}
            {% if hasUpcomingEvents == false %}
              <p class="list-group-item text-center">
                No events at this time.
              </p>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- Classes -->
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <h3 class="panel-title">Classes</h3>
          </div>
          <div class="pre-scrollable list-group">
            {% assign hasUpcomingClasses = false %}

            {% for class in site.classes reversed %}
              {% if class.eventType == "class" and class.past != true %}
                {% assign hasUpcomingClasses = true %}
                <a href="{{class.url}}" class="list-group-item">{{class.title}}</a>
              {% endif %}
            {% endfor %}
            {% if hasUpcomingClasses == false %}
              <p class="list-group-item text-center">
                No classes at this time.
              </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <h2>Articles</h2>
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <p class="author">
      <span class="date">{{ post.date }}</span>
    </p>
    {% endfor %}
    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}
        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </div>
    <!-- End Pagination links -->
  </div>

</div>

<script src="/js/weather.js"></script>
<script>
  testing();
</script>
<script>
  classes();
</script>
<script>
  weatherBox();
</script>
<script>
  weatherBoxAlerts();
</script>