<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  {% seo %}

  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <link rel="shortcut icon" href="https://dsarc.keybase.pub/website_files/favicon/favicon.ico?v=2" />
  
  <!-- Netlify Identity -->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <!-- Latest FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

  <!-- Latest compiled and minified jQuery JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Latest compiled and minified Boostrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Algolia DocSearch -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />

  <!-- Custom Scripts -->
  {% if page.calendar %}
    <!-- Calendar Defined -->
    <script src="/js/fullcalendar.js"></script>
  {% endif %}
  {% if page.gsCMS %}
    <!-- gsCMS Defined -->
    <script src="/js/gsCMS.js"></script>
  {% endif %}
  {% if page.headless %}
    <!-- gsCMS Defined -->
    <script src="/js/headless.js"></script>
  {% endif %}
  {% if page.cms %}
    <!-- getCMS Defined -->
    <script src="/js/getCMS.js"></script>
  {% endif %}

  {% if jekyll.environment == 'production' and site.google_analytics %}
    {% include google-analytics.html %}
  {% endif %}

  <!-- GoSquared analytics -->
  {% include gosquared.html %}

  {% if page.layout == 'calendar' %}
    {% include fullcalendar.html %}
  {% endif %}

  <!-- Manifest and sw init for webapp -->
  <!-- <link rel="manifest" href="/manifest.json">
  <script type="text/javascript">
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("/sw.js").then(function(registration) {
        console.log("Service Worker registration successful with scope: ", registration.scope);
      }).catch(function(err) {
        console.log("Service Worker registration failed: ", err);
      });
    }
  </script> -->
</head>
