<header>
  <div class="row" id="banner">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    <a href="{{ "/" | relative_url }}">{% include banner.html %}</a>
  </div>

  <div class="row">
    {% if page_paths %}
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">DSARC</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              {% assign links = site.data.menu %}
              {% for link in links %}
                {% assign class = nil %}
                {% if page.url == link.url %}
                  {% assign class = 'active' %}
                {% endif %}
                {% if link.sublinks %}
                  <li class="dropdown {{ class }}">
                    <a href="{{ site.baseurl }}{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      {% for sublink in link.sublinks %}
                        {% if sublink.title == 'seperator' %}
                          <li role="separator" class="divider"></li>
                        {% else %}
                          <li>
                            <a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                          </li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li class="{{ class }}">
                    <a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
            <!-- Algolia DocSearch Bar -->
            <form class="navbar-form navbar-right">
              <div class="form-group">
                <input type="text" class="form-control" id="search" placeholder="Search">
              </div>
            </form>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    {% endif %}
  </div>
</header>
